# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10
    labels:
      - 'dependencies'
    groups:
      vitest:
        patterns:
          - '@vitest/coverage-v8'
          - 'vitest'
      minor-and-patch:
        patterns:
          - '*'
        update-types:
          - 'minor'
          - 'patch'
    ignore:
      - dependency-name: react
        versions:
          - '>=19.0.0'
      - dependency-name: react-dom
        versions:
          - '>=19.0.0'
      - dependency-name: '@types/react'
        versions:
          - '>=19.0.0'
      - dependency-name: '@types/react-dom'
        versions:
          - '>=19.0.0'
      - dependency-name: '@rollup/rollup-linux-x64-gnu'
