$nav-item-color: #005ea2;
$search-color: #dfe1e2;

$breakpoint-md: 64rem;
$breakpoint-sm: 40rem;

@mixin media($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin padding() {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  // box-shadow: 0 3px 6px rgb(0 0 0 / 16%);

  @include media($breakpoint-md) {
    &.header-active {
      height: 100vh;

      .header-search {
        padding-top: 1rem;
        border-top: 3px solid $search-color;

        form {
          display: none;
        }

        a {
          display: block;
        }
      }

      .header-nav {
        display: block;
        padding-top: 1rem;
        border-top: 3px solid $search-color;
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  & > div:not(#banner) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: none;
    }

    @include media($breakpoint-md) {
      flex-direction: column;
      align-items: stretch;
      gap: 1rem;

      div:first-of-type {
        display: flex;
        justify-content: space-between;
        @include padding();
      }
    }
  }

  a {
    color: $nav-item-color;
    font-weight: 400;
    font-size: 1.125rem;
    text-decoration: none;

    &:visited {
      color: $nav-item-color;
    }

    &:hover {
      color: #1a4480;
    }
  }

  .header-logo {
    display: flex;

    img {
      width: 100%;
    }

    @include media($breakpoint-md) {
      width: fit-content;
    }
  }

  .header-menu-button {
    display: none;

    @include media($breakpoint-md) {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: $nav-item-color;
      border: none;
      background-color: transparent;
      font-weight: 700;

      svg {
        color: $nav-item-color;
      }
    }
  }

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  .header-search {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      font-weight: 600;
    }

    form {
      &:focus-within,
      &:hover {
        -webkit-box-shadow: 0 0 3px #036;
        box-shadow: 0 0 3px #036;
        border-color: #069;
      }

      input {
        border: none;
        background-color: #f9f9f9;
        height: 2.75rem;
        min-width: 18.75rem;

        &::placeholder {
          color: $nav-item-color;
          opacity: 1;
        }

        &:focus {
          outline: none;
        }
      }

      button {
        background-color: #f9f9f9;
        background-image: url("../../../../dist/assets/img/search--blue.svg");
        border-radius: 0;
        height: 2.75rem;

        &:focus {
          outline: none;
        }
      }
    }

    .header-search-divider {
      width: 1px;
      height: 2rem;
      background-color: #a9aeb1;

      @include media($breakpoint-md) {
        display: none !important;
      }
    }

    @include media($breakpoint-md) {
      form {
        width: 100%;

        &::after {
          display: none;
        }

        input {
          max-width: inherit;
        }
      }

      a {
        display: none;
      }
    }
  }

  .header-nav {
    ul {
      margin: 0;
      display: flex;
      list-style-type: none;
      padding-left: 0;
      justify-content: end;
      gap: 1rem;
    }

    @include media($breakpoint-md) {
      @include padding();
      display: none;

      ul {
        background-color: white;
        flex-direction: column;
        overflow: scroll;
        justify-content: start;
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
}
