.advanced-search-panel {
  position: relative;
  background: #fff;
  border: 2px solid #dfe1e2;
  border-radius: 8px;
  padding: 0.25rem;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.18);
  max-width: 275px;
  width: 100%;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  max-height: 90vh;
}

.advanced-search-panel__content {
  padding: 0.25rem 0;
}

.advanced-search-panel .grid-row {
  margin-bottom: 0.5rem;
}

.advanced-search-panel .grid-row .grid-col-12 {
  max-width: 100%;
}

.advanced-search-panel__actions {
  display: flex;
  gap: 1rem;
  margin-top: 0;
  justify-content: flex-start;
}
